<h2>
  <%= @tags.map { |tag| "##{tag}" }.join(", ") %>
</h2>

<section>
  <%# Compute and specify :min, :max %>
  <%= line_chart @grouped_data %>
</section>

<section>
  <%= render :partial => 'data/datalist' %>
</section>

<section>
  <p><%= link_to "Go back", data_path %></p>
</section>
