<%# This fragment assumes @data is populated with the data we want to display %>
<table>
    <tr>
      <th>Date</th>
      <th>Value</th>
      <th>Tags</th>
      <th></th>
    </tr>
  <% @data.each do |d| %>
    <tr>
      <td><%= d.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= d.value %></td>
      <td>
        <% last = d.tags.last %>
        <% d.tags.each do |t| %>
          <%= link_to "##{t.name}", "/tags/#{t.name}" %>
        <% end %>
      </td>
      <td><%= link_to "Delete", d, :method => :delete %></td>
    </tr>
  <% end %>
</table>
