<div class="row data-header">
  <div class="medium-3 columns">
    <h2>All data</h2>
  </div>

  <div class="medium-9 columns">
    <%= link_to "+ Add data", new_datum_path, :class => "button round tiny" %>
  </div>
</div>

<% if @data.count > 0 %>
  <section>
    <%= render :partial => 'data/datalist' %>
  </section>
<% end %>
