<nav class="top-bar" data-topbar role="navigation">
  <div class="row title-area collapse">
    <div class="name large-2 small-12 columns">
      <h1><a href="#">Tagged Data</a></h1>
    </div>

    <div class="name large-8 small-8 columns">
      <input type="text" placeholder="Search via tags (eg: #sfo #weather)">
    </div>

    <div class="name large-2 small-4 columns">
      <a href="#" class="alert button expand">Search</a>
    </div>
  </div>
</nav>
